body {
    background-color: grey;
}
.container {
    margin: 5%;
    display: grid;
    grid-template-areas: "title title"
                         "name1 name2"
                         "pic1 pic2"
                         "result result"
                         "score score"
                         "ui ui";
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2% 2%;
}

.gameName {
    grid-area: title;
    justify-self: center;
    color: rgb(18, 50, 77);
}
.player1 {
    grid-area: name1;
}

.name {
    justify-self: center;
    
}

.opponent {
    grid-area: name2;
}

.playerHand {
    grid-area: pic1;
}

.opponentHand {
    grid-area: pic2;
}

.pic {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.score {
    grid-area: score;
    justify-self: center;
}

.results {
    grid-area: result;
    justify-self: center;
}
.buttonContainer {
    grid-area: ui;
    justify-self: center;
}
button {
    padding: 10px;
    border: none;
    border-radius:10%;

}
button:hover {
    position: relative;
    top: 2px;
    background-color:  rgb(145, 145, 185);
}
